/* Main heading title*/
main h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

/* Background game image*/
body {
  /* use relative urls to make sure the render happens -> ./ and ../ */
  background-image: url(../image/boardgamebackgroud.jpg);
  /*background-color: #cccccc;*/
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Fonts for main page*/
h3 {
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: small;
}
h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

/*table design*/
table {
  text-align: center;
}

caption {
  text-align: center;
  font-size: medium;
}
