@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
main {
  padding-top: 10rem;
}

/* Main heading title*/
main h1 {
  font-size: 70px;
  font-weight: 600;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  text-decoration: underline;
}

/* Background game image*/
body {
  /* use relative urls to make sure the render happens -> ./ and ../ */
  background-image: url(../image/boardgamebackgroud.jpg);
  /*background-color: #cccccc;*/
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

/*Fonts for main page*/
h3 {
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: x-large;
  color: black;
}
h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  color: black;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/*nav bar*/
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
head {
  background: black;
}

table {
  font-size: larger;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  background-color: antiquewhite;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

head::after {
  content: '';
  display: table;
  clear: both;
}

/* Caption*/

.players-table {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: auto;
  padding: 0 10px;
}
.row {
  margin: 0 -5px;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

/*counter cards */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media screen and (min-width: 851px) {
  #game {
    flex-direction: row;
  }
  #board {
    width: 102vh;
    height: 100vh;
  }
  #weapons,
  #pieces {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  #game {
    flex-direction: column;
  }
  #board {
    width: 102vw;
    height: 100vw;
  }
  #weapons,
  #pieces {
    flex-direction: row;
  }
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(132, 178, 133);
  background: radial-gradient(
    circle,
    rgba(132, 178, 133, 1) 10%,
    rgba(72, 156, 77, 1) 80%
  );
}

body {
  background-image: url('../images/pool_table.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2.5rem;
}

section > img {
  position: relative;

  width: 2vw;
  height: 2vw;
  padding: 1vw;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: rgb(132, 178, 133);
  background: radial-gradient(
    circle,
    rgba(132, 178, 133, 1) 10%,
    rgba(72, 156, 77, 1) 80%
  );
}

ul > li {
  position: relative;
  height: 4.5vw;
  width: 4.5vw;

  max-width: 2rem;
  max-height: 2rem;

  border-radius: 50%;
  display: inline-block;
  top: 0;
  left: 0;
}

#game {
  padding-top: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#board {
  background-image: url(../assets/cluedo-board.svg);
  background-repeat: no-repeat;
  border: 1px black solid;
  background-size: cover;

  cursor: pointer;
}

#weapons {
  position: relative;
  transition: left 1s cubic-bezier(0.42, -0.3, 0.78, 1.25),
    top 1s cubic-bezier(0.42, -0.3, 0.78, 1.25);
  display: flex;
  gap: 1rem;
}

#pieces {
  display: flex;
  gap: 1rem;
  position: relative;
  transition: left 0.5s cubic-bezier(0.42, -0.3, 0.78, 1.25),
    top 0.5s cubic-bezier(0.42, -0.3, 0.78, 1.25);
}

#red {
  background: rgb(251, 63, 63);
  background: radial-gradient(
    circle,
    rgba(251, 63, 63, 1) 0%,
    rgba(107, 3, 20, 1) 100%
  );
}

#blue {
  background: rgb(53, 152, 221);
  background: radial-gradient(
    circle,
    rgba(53, 152, 221, 1) 0%,
    rgba(3, 43, 107, 1) 100%
  );
}

#green {
  background: rgb(103, 150, 92);
  background: radial-gradient(
    circle,
    rgba(103, 150, 92, 1) 0%,
    rgba(23, 115, 97, 1) 100%
  );
}

#yellow {
  background: rgb(241, 210, 25);
  background: radial-gradient(
    circle,
    rgba(241, 210, 25, 1) 0%,
    rgba(177, 198, 31, 1) 100%
  );
}

#white {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(147, 149, 127, 1) 100%
  );
}

#purple {
  background: rgb(157, 46, 180);
  background: radial-gradient(
    circle,
    rgba(157, 46, 180, 1) 20%,
    rgba(80, 14, 134, 1) 74%
  );
}

button {
  background: #19753f;
  background-image: -webkit-linear-gradient(top, #19753f, #3fab8e);
  background-image: -moz-linear-gradient(top, #19753f, #3fab8e);
  background-image: -ms-linear-gradient(top, #19753f, #3fab8e);
  background-image: -o-linear-gradient(top, #19753f, #3fab8e);
  background-image: linear-gradient(to bottom, #19753f, #3fab8e);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #4dd1a5 2px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.button-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
