@media screen and (min-width: 1001px) {
  #game {
    flex-direction: row;
  }
  #board {
    width: 98vh;
    height: 98vh;
  }
  #weapons,
  #pieces {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  #game {
    flex-direction: column;
  }
  #board {
    width: 98vw;
    height: 98vw;
  }
  #weapons,
  #pieces {
    flex-direction: row;
  }
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #fff;
  width: 96vw;
  height: 96vh;
}

#game {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#board {
  background-image: url(../../assets/cluedo_board.svg);
  background-repeat: no-repeat;
  border: 1px black solid;
  overflow: hidden;
  background-color: #f2f2f2;
  cursor: pointer;
}
img {
  position: relative;
  transition: left 0.5s ease-in, top 0.5s ease-in;
}

section > img {
  width: 5vw;
  height: 5vw;
}

ul > li {
  height: 4vw;
  width: 4vw;
  max-width: 2rem;
  max-height: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#weapons {
  display: flex;
  gap: 1rem;
}

#pieces {
  display: flex;
  gap: 1rem;
}

#red {
  background: rgb(251, 63, 63);
  background: radial-gradient(
    circle,
    rgba(251, 63, 63, 1) 0%,
    rgba(107, 3, 20, 1) 100%
  );
}

#blue {
  background: rgb(53, 152, 221);
  background: radial-gradient(
    circle,
    rgba(53, 152, 221, 1) 0%,
    rgba(3, 43, 107, 1) 100%
  );
}

#green {
  background: rgb(103, 150, 92);
  background: radial-gradient(
    circle,
    rgba(103, 150, 92, 1) 0%,
    rgba(23, 115, 97, 1) 100%
  );
}

#yellow {
  background: rgb(241, 210, 25);
  background: radial-gradient(
    circle,
    rgba(241, 210, 25, 1) 0%,
    rgba(177, 198, 31, 1) 100%
  );
}

#white {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(147, 149, 127, 1) 100%
  );
}

#purple {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(7, 3, 22, 1) 100%
  );
}
